# Dependencies
node_modules
pnpm-lock.yaml

# Build outputs
.next
out
dist
build

# Cache
.cache
.turbo

# Environment files
.env
.env*.local

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage

# Misc
*.tsbuildinfo
next-env.d.ts
